/*
Theme Name: Linea

*/

/**
 * Table of Contents:
 *
 * 1.0 - Body
 * 2.0 - Typography
 * 3.0 - Elements
 * 4.0 - Alignment
 * 5.0 - Caption
 * 6.0 - Galleries
 * 7.0 - Audio / Video
 * 8.0 - RTL
 */

/**
 * 1.0 Body
 */

body {
	font-family: "Poppins", sans-serif;
	font-size: 13px;
	color: #242424;
	background: #fff;
	line-height: 1.8;
}
/**
 * 2.0 Typography
 */

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 14px
}
h6 {
	font-size: 12px;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
	margin-top: 0;
}
p {
	margin: 0 0 10px;
	letter-spacing: 0.5px;
}
b, strong {
	font-weight: 700;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	padding: 10px 20px;
	font-size: 14px;
	line-height: 22px;
	color: #333;
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
	position: relative;
	margin: 0 0 20px;
	border-left: 5px solid #eee;
}
.editor-styles-wrapper .wp-block-quote:not(.is-large):not(.is-style-large) {
	border-left: 5px solid #eee !important;
}
.wp-block-quote:not(.is-large):not(.is-style-large) {
	border-left: 5px solid #eee !important;
}
.editor-styles-wrapper .wp-block-button:not(.is-style-outline) .wp-block-button__link, .wp-block-button__link {
	background: #1fc0a0;
}
blockquote > blockquote {
	margin-left: 0;
}
blockquote p {
	margin-bottom: 35px;
}
blockquote > p:last-child {
	margin-bottom: 0;
}
blockquote cite, blockquote small {
	color: #333;
	font-family: "Poppins", sans-serif;
	font-size: 17px;
	line-height: 1.6471;
}
blockquote em, blockquote i, blockquote cite {
	font-style: normal;
}
blockquote strong, blockquote b {
	font-weight: 400;
}
address {
	font-style: italic;
	margin: 0 0 28px;
}
code, kbd, tt, var, samp, pre {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
pre {
	background: #e8f4b8;
	padding: 5px;
	display: inline-block;
	margin: 4px 0;
	width: 100%;
	font-size: 13px;
	line-height: 1.42857143;
	color: #333;
	word-break: break-all;
	word-wrap: break-word;
	border: 1px solid #ccc;
	border-radius: 4px;
}
abbr[title] {
	border-bottom: 1px dotted #eaeaea;
	cursor: help;
}
mark, ins {
	background-color: #fff9c0;
	text-decoration: none;
}
sup, sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}
/**
 * 3.0 Elements
 */

hr {
	background-color: #eaeaea;
	border: 0;
	height: 1px;
	margin-bottom: 28px;
}
ul, ol {
	margin: 0 0 28px 0;
	padding: 0;
	font-size: 14px;
}
ul {
	padding: 0;
}
ol {
	list-style: decimal;
}
li > ul, li > ol {
	margin: 0 0 0 23px;
	font-size: 14px;
}
dl {
	margin: 0 0 28px;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 0 28px;
}
/*.block-editor .wp-block-latest-posts,
.block-editor .wp-block-categories ul,
ul.wp-block-categories__list {
    padding-left: 0px;
	 list-style:none;
}ul.wp-block-categories__list li{ list-style:none;}
*/
.wp-block-pullquote {
	border-color: transparent;
	border-width: 2px;
	color: #000;
}
table, th, td, .mce-item-table, .mce-item-table th, .mce-item-table td {
	border: 1px solid #eaeaea;
}
table a {
	color: #333;
}
table, .mce-item-table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin: 0 0 28px;
	width: 100%;
}
table th, .mce-item-table th, table caption {
	border-width: 0 1px 1px 0;
	font-family: "Poppins", sans-serif;
	font-size: 17px;
	font-weight: 700;
	padding: 7px;
	text-align: left;
	vertical-align: baseline;
}
table td, .mce-item-table td {
	border-width: 0 1px 1px 0;
	font-family: "Poppins", sans-serif;
	font-size: 17px;
	padding: 7px;
	vertical-align: baseline;
}
img {
	border: 0;
	height: auto;
	vertical-align: middle;
}
a img {
	display: block;
}
figure {
	margin: 0;
}
del {
	opacity: 0.8;
}
a {
	text-decoration: none;
	color: #333;
}
/**
 * 4.0 Alignment
 */

.alignleft {
	float: left;
	margin: 7px 28px 28px 0;
}
.alignright {
	float: right;
	margin: 7px 0 28px 28px;
}
.aligncenter {
	clear: both;
	margin: 7px auto;
}
/**
 * 5.0 Caption
 */

.wp-caption {
	background: transparent;
	border: none;
	color: #707070;
	font-family: "Poppins", sans-serif;
	margin: 0 0 28px 0;
	max-width: 660px;
	padding: 0;
	text-align: inherit;
}
.wp-caption.alignleft {
	margin: 7px 28px 21px 0;
}
.wp-caption.alignright {
	margin: 7px 0 21px 28px;
}
.wp-caption.aligncenter {
	margin: 7px auto;
}
.wp-caption .wp-caption-text, .wp-caption-dd {
	font-size: 14px;
	line-height: 1.5;
	padding: 7px 0;
}
/**
 * 6.0 Galleries
 */

.gallery-item {
	display: inline-block;
	padding: 1.79104477%;
	text-align: center;
	vertical-align: top;
	width: 100%;
}
.gallery-columns-2 .gallery-item {
	max-width: 50%;
}
.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
	max-width: 25%;
}
.gallery-columns-5 .gallery-item {
	max-width: 20%;
}
.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}
.gallery .gallery-caption {
	color: #707070;
	display: block;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	line-height: 1.5;
	padding: 7px 0;
}
.gallery-columns-6 .gallery-caption, .gallery-columns-7 .gallery-caption, .gallery-columns-8 .gallery-caption, .gallery-columns-9 .gallery-caption {
	display: none;
}
/**
 * 7.0 Audio / Video
 */

.mce-content-body .wpview-wrap {
	margin-bottom: 32px;
}
.mce-content-body .wp-audio-playlist {
	margin: 0;
}
/**
 * 8.0 RTL
 */

body.rtl {
	font-family: "Poppins", sans-serif;
}
.rtl blockquote {
	border-left: none;
	border-right: 4px solid #707070;
	margin: 0 -21px 35px 0;
	padding-left: 0;
	padding-right: 17px;
}
.rtl blockquote > blockquote {
	margin-left: auto;
	margin-right: 0;
}
.rtl li > ul, .rtl li > ol {
	margin: 0 23px 0 0;
}
.rtl table th, .rtl table caption {
	text-align: right;
}
.wp-block-preformatted, .wp-block-code{
	background: #e8f4b8;
}
.wp-block-quote {
    border-left: 4px solid #eee;}
	
	.aligncenter {
	clear: both;
	display: block;
	margin: 4px auto 7px;
	text-align: center;
}
.alignleft {
	float: left;
	margin: 4px 24px 7px 0;
}
.alignright {
	float: right;
	margin: 4px 0 7px 24px;
}
.alignfull {
	position: relative;
	max-width: none
}
