/*
Theme Name: Linea
Theme URI: http://wpdemo.magikthemes.com/linea
Author: MagikCommerce
Author URI: https://www.magikcommerce.com/
Description: Linea WordPress Theme
Version:  4.8
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: two-columns,  left-sidebar, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: linea
*/
/* TABLE OF CONTENTS

1.      BODY
2.      LAYOUT
2a.     Base Columns
2b.     1 Column Layout
2c.     2 Column Layout
2d.     3 Column Layout

*/
/* BEGIN OF STYLING */

/* 1. BODY */
body {
  padding: 0;
  margin: auto;
  line-height: 1.55;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover, a:focus {
/*color: #da2c2a;*/
  /*text-decoration: underline;*/
}
legend {
  display: none;
}
/* 2.  LAYOUT */


/* 2a. Base Columns */
.col-left {
  margin-bottom: 0px;
}
.col-right {
  margin-bottom: 0px;
}
/* 2b. 1 Column Layout */
.col1-layout .header-background-default {
  margin: 20px;
  padding: 0;
}
.col1-layout .col-main {
  float: none;
  width: auto;
}
/* 2c. 2 Column Layoutt */
.col2-left-layout .col-main {
}
.col2-right-layout .col-main {
}
.col2-right-layout ol.opc .col-md-4 {
  margin-right: 15px;
}
/* 2d. 3 Column Layout */
.col3-layout .col-main {
}
.col3-layout .col-wrapper {
  float: left;
  width: 780px;
}
.col3-layout .col-wrapper .col-main {
  float: right;
}

.alignfull {

  position: relative;
  max-width: none;
}
.alignwide {
  margin-left: auto;
  margin-right: auto;
  
}
.wp-block-gallery
{
margin-top:10px;
}

.blog-post .post-container .wp-block-gallery img, .blog-post .post-container .wp-block-media-text.alignwide img
{
  margin-bottom: 0px; 
}


