#header.sticky-header .mgk-main-menu, .fixed-header #header.sticky-header .mgk-main-menu {
	background-color: #f0f0ed;
}
#header .top-links > li.menu-item:before {
	color: #777777;
}
#header .top-links > li.menu-item > a, #header .top-links > li.menu-item > h5 {
	color: #1fc0a0;
}
#header .top-links > li.menu-item > a.active, #header .top-links > li.menu-item > h5.active {
	color: #1fc0a0;
}
#header .top-links > li.menu-item:hover > a, #header .top-links > li.menu-item:hover > h5 {
	color: #1fc0a0;
}
#header .top-links > li.menu-item.has-sub:hover > a, #header .top-links > li.menu-item.has-sub:hover > h5 {
	color: #1fc0a0;
	background: #fff;
}
#header .top-links .narrow .mgk-popup > .inner, #header .top-links .narrow .mgk-popup ul.sub-menu {
	background: inherit;
}
#header .top-links .narrow .mgk-popup li.menu-item > a {
	color: #999;
}
#header .top-links .narrow .mgk-popup li.menu-item > a:hover {
	color: #1fc0a0;
}
#header .top-links .narrow .mgk-popup li.menu-item > h5 {
	color: #1fc0a0;
}
#header .top-links .narrow .mgk-popup li.menu-item:hover > a, #header .top-links .narrow .mgk-popup li.menu-item:hover > h5 {
	background: inherit;
}
#header .header-top .top-links > li.menu-item:after {
	color: #777777;
}
#header .header-top .top-links > li.menu-item > a, #header .header-top .top-links > li.menu-item > h5 {
	color: #a1bfdd;
	text-transform: none;
	font-weight: normal;
	padding-left: 18px;
	padding-right: 0;
}
#header .header-top .top-links > li.menu-item > a.active, #header .header-top .top-links > li.menu-item > h5.active {
	color: #1fc0a0;
}
#header .header-top .top-links > li.menu-item:hover > a, #header .header-top .top-links > li.menu-item:hover > h5 {
	color: #fff;
}
#header .header-top .top-links > li.menu-item.has-sub:hover > a, #header .header-top .top-links > li.menu-item.has-sub:hover > h5 {
	color: #fff;
	background: transparent;
}
#header .header-top .top-links .narrow .mgk-popup > .inner, #header .header-top .top-links .narrow .mgk-popup ul.sub-menu {
	background: #202020;
}
#header .header-top .top-links .narrow .mgk-popup li.menu-item > a, #header .header-top .top-links .narrow .mgk-popup li.menu-item > h5 {
	color: #333;
}
#header .header-top .top-links .narrow .mgk-popup li.menu-item:hover > a, #header .header-top .top-links .narrow .mgk-popup li.menu-item:hover > h5 {
	color: #1fc0a0;
	background: transparent;
}
#header .header-top .top-links .narrow .mgk-popup li.menu-item:hover > a:hover, #header .header-top .top-links .narrow .mgk-popup li.menu-item:hover > h5:hover {
	color: #1fc0a0;
}
#main-menu .menu-custom-block {
	color: #777777;
}
#main-menu .menu-custom-block span {
	color: #777777;
}
#main-menu .menu-custom-block a {
	color: #1fc0a0;
}
#main-menu .menu-custom-block a:hover {
	color: #006fa4;
}
#header .mobile-toggle {
	color: #333;
}
#header .mobile-toggle:hover {
	color: #1fc0a0;
}
#main-toggle-menu .toggle-menu-wrap {
	background-color: #2c6aa9;
}
#nav-panel {
	background: #333;
	color: #ffffff;
}
#nav-panel .accordion-menu {
	color: #1fc0a0;
}
#nav-panel .accordion-menu li.menu-item > a, #nav-panel .accordion-menu li.menu-item > h5 {
	color: #ffffff;
}
#nav-panel .accordion-menu li.menu-item.active > a, #nav-panel .accordion-menu li.menu-item.active > h5, #nav-panel .accordion-menu li.menu-item:hover > a, #nav-panel .accordion-menu li.menu-item:hover > h5 {
	background-color: #333;
	color: #ffffff;
}
#nav-panel .accordion-menu .arrow:hover {
	color: #1fc0a0;
}
#nav-panel .menu-custom-block {
	color: #ffffff;
}
#nav-panel .menu-custom-block span {
	color: #ffffff;
}
#nav-panel .menu-custom-block a {
	color: #ffffff;
}
#nav-panel .menu-custom-block a:hover {
	background-color: #333;
	color: #ffffff;
}
.accordion-menu {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0.9em;
}
.accordion-menu > li, .accordion-menu ul.sub-menu > li {
	position: relative;
	display: inline-block;
	width: 100%;
	background: inherit !important;
	border-bottom: 0px solid #b2b4db;
}
.accordion-menu > li, .accordion-menu ul.sub-menu > li:last-child {
	border-bottom: none;
}
.accordion-menu li.menu-item > a, .accordion-menu li.menu-item > h5 {
	position: relative;
	display: block;
	outline: medium none;
	text-decoration: none;
	text-align: left;
	margin: 1px 0 0;
	padding: 5px 6px;
	line-height: 25px;
	font-weight: bold;
	-webkit-transition: all 0.25s ease 0s;
	-moz-transition: all 0.25s ease 0s;
	transition: all 0.25s ease 0s;
	font-family: "Poppins", sans-serif;
	font-size: inherit;
	text-transform: uppercase;
}
.accordion-menu li.menu-item > a > .flag, .accordion-menu li.menu-item > h5 > .flag {
	display: inline-block;
	width: 18px;
	height: auto;
	margin-top: -2px;
	margin-right: 5px;
}
.accordion-menu li.menu-item > a > .fa, .accordion-menu li.menu-item > h5 > .fa {
	width: 18px;
	text-align: center;
}
.accordion-menu li.menu-item > a > .fa, .accordion-menu li.menu-item > h5 > .fa, .accordion-menu li.menu-item > a > .avatar, .accordion-menu li.menu-item > h5 > .avatar {
	margin-right: 5px;
}
.accordion-menu li.menu-item > a > .avatar img, .accordion-menu li.menu-item > h5 > .avatar img {
	margin-top: -5px;
	margin-bottom: -4px;
}
.accordion-menu li.menu-item.has-sub > a, .accordion-menu li.menu-item.has-sub > h5 {
	padding-right: 33px;
}
.accordion-menu ul.sub-menu {
	display: none;
	list-style: none;
	margin: 0;
	padding: 0px;
}
.accordion-menu ul.sub-menu li {
	padding-left: 10px;
}
.accordion-menu .arrow {
	border-radius: 3px;
	position: absolute;
	top: 6px;
	right: 0;
	width: 25px;
	height: 25px;
	cursor: pointer;
	text-align: center;
	font-family: "FontAwesome";
	line-height: 25px;
	vertical-align: top;
	-webkit-transition: all 0.25s ease 0s;
	-moz-transition: all 0.25s ease 0s;
	transition: all 0.25s ease 0s;
}
.accordion-menu .arrow:before {
	content: "\f067";
}
.accordion-menu .open > .arrow:before {
	content: "\f068";
}
.accordion-menu .tip {
	color: #fff;
	display: inline-block;
	font-size: 9px;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 2px;
	line-height: 1;
	padding: 2px;
	position: relative;
	margin-left: 10px;
	vertical-align: middle;
}
.accordion-menu .tip.hot {
	background-color: #eb2771;
}
.accordion-menu .tip.hot .tip-arrow:before {
	color: #eb2771;
}
.accordion-menu .tip .tip-arrow:before {
	display: inline-block;
	font-family: FontAwesome;
	font-size: 7px;
	position: absolute;
	width: 4px;
	height: 6px;
	margin: auto;
	left: -3px;
	text-align: right;
	content: "\f0d9";
	top: 0;
	bottom: 0;
}
.widget_sidebar_menu {
	border: 1px solid #ddd;
	border-radius: 7px;
	background: #fbfbfb;
	margin-top: 0;
}
.widget_sidebar_menu + .widget-block {
	margin-top: 20px;
}
.widget_sidebar_menu + .widget_product_categories, .widget_sidebar_menu + .widget_price_filter, .widget_sidebar_menu + .widget_layered_nav, .widget_sidebar_menu + .widget_layered_nav_filters {
	margin-top: 15px;
}
.widget_sidebar_menu.closed .widget-title {
	border-radius: 7px;
	margin-bottom: -1px;
}
.widget_sidebar_menu .widget-title {
	border-radius: 7px 7px 0 0;
	background: #f5f5f5;
	border-bottom: 1px solid #d1d1d1;
	font-size: 0.9286em;
	font-weight: 700;
	line-height: 18px;
	padding: 12px 15px;
	margin: 0;
	text-transform: uppercase;
	position: relative;
	-webkit-transition: all 0.25s ease 0s;
	-moz-transition: all 0.25s ease 0s;
	transition: all 0.25s ease 0s;
}
.widget_sidebar_menu .widget-title .toggle {
	display: inline-block;
	width: 1.8571em;
	height: 1.8571em;
	line-height: 1.7572em;
	color: #ccc;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	position: absolute;
	right: 1.0714em;
	top: 1px;
	bottom: 0;
	margin: auto;
	cursor: pointer;
	font-family: "FontAwesome";
	text-align: center;
	-webkit-transition: all 0.25s ease 0s;
	-moz-transition: all 0.25s ease 0s;
	transition: all 0.25s ease 0s;
}
.widget_sidebar_menu .widget-title .toggle:before {
	content: "\f0d8";
}
.widget_sidebar_menu .widget-title .toggle:hover {
	color: #fff;
}
.widget_sidebar_menu .widget-title .toggle.closed:before {
	content: "\f0d7";
}
.sidebar-menu {
	margin: 0;
	padding: 0;
	list-style: none;
*zoom: 1;
}
.sidebar-menu:before, .sidebar-menu:after {
	content: " ";
	display: table;
}
.sidebar-menu:after {
	clear: both;
}
.sidebar-menu li.menu-item {
	display: block;
	position: relative;
}
.sidebar-menu li.menu-item > a, .sidebar-menu li.menu-item > h5 {
	display: block;
	text-decoration: none;
	text-align: left;
	position: relative;
	outline: medium none;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 24px;
	font-weight: 400;
	font-family: inherit;
	font-size: inherit;
}
.sidebar-menu li.menu-item > a > .fa, .sidebar-menu li.menu-item > h5 > .fa {
	width: 18px;
	text-align: center;
}
.sidebar-menu li.menu-item > a > .fa, .sidebar-menu li.menu-item > h5 > .fa, .sidebar-menu li.menu-item > a > .avatar, .sidebar-menu li.menu-item > h5 > .avatar {
	margin-right: 5px;
}
.sidebar-menu li.menu-item > a > .avatar img, .sidebar-menu li.menu-item > h5 > .avatar img {
	margin-top: -5px;
	margin-bottom: -4px;
}
.sidebar-menu li.menu-item > h5 {
	cursor: default;
}
.sidebar-menu ul.sub-menu {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sidebar-menu > li.menu-item {
	float: none;
}
.sidebar-menu > li.menu-item:first-child > a, .sidebar-menu > li.menu-item:first-child > h5 {
	border-top-width: 0;
}
.sidebar-menu > li.menu-item:last-child:hover {
	border-radius: 0 0 7px 7px;
}
.sidebar-menu > li.menu-item:last-child.menu-item-has-children:hover {
	border-radius: 0 0 0 7px;
}
.right-sidebar .sidebar-menu > li.menu-item:last-child.menu-item-has-children:hover {
	border-radius: 0 0 7px 0;
}
.sidebar-menu > li.menu-item > a, .sidebar-menu > li.menu-item > h5 {
	display: block;
	line-height: 18px;
	padding: 12px 5px;
	margin: 0 10px -1px;
	border-top: 1px solid #ddd;
}
.sidebar-menu > li.menu-item.active:hover > a, .sidebar-menu > li.menu-item.active:hover > h5 {
	color: #fff;
}
.sidebar-menu > li.menu-item:hover > a, .sidebar-menu > li.menu-item:hover > h5 {
	color: #fff;
	position: relative;
	z-index: 1;
}
.sidebar-menu > li.menu-item:hover > .arrow:before {
	border-left-color: #fff;
}
.sidebar-menu > li.menu-item > .arrow {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 5px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	margin: auto;
	text-align: center;
}
.sidebar-menu > li.menu-item > .arrow:before {
	content: "";
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 5px solid #333;
	margin-left: 5px;
	margin-right: 5px;
	position: relative;
}
.sidebar-menu .mgk-popup {
	text-align: left;
	left: 100%;
	position: absolute;
	top: 0;
	display: none;
	margin: 0;
	z-index: 111;
}
.right-sidebar .sidebar-menu .mgk-popup {
	right: 100%;
	left: auto;
}
.sidebar-menu .mgk-popup > .inner {
	margin: 0;
}
.sidebar-menu .mgk-popup ul.sub-menu {
	position: relative;
	z-index: 10;
}
.sidebar-menu .mgk-popup li.menu-item {
	padding: 0;
}
.sidebar-menu .wide .mgk-popup {
	border-radius: 0 6px 6px 6px;
	margin-left: -1px;
	border-left: 10px solid #ccc;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}
.right-sidebar .sidebar-menu .wide .mgk-popup {
	border-radius: 6px 0 6px 6px;
	border-left-width: 0;
	border-right: 10px solid #ccc;
	margin-left: 0;
	margin-right: -1px;
}
.sidebar-menu .wide .mgk-popup > .inner {
	padding: 25px 20px 10px;
	background: #fff;
	border-radius: 0 6px 6px 6px;
	margin-left: -5px;
*zoom: 1;
}
.sidebar-menu .wide .mgk-popup > .inner:before, .sidebar-menu .wide .mgk-popup > .inner:after {
	content: " ";
	display: table;
}
.sidebar-menu .wide .mgk-popup > .inner:after {
	clear: both;
}
.right-sidebar .sidebar-menu .wide .mgk-popup > .inner {
	border-radius: 6px 0 6px 6px;
	margin-left: 0;
	margin-right: -5px;
}
.sidebar-menu .wide .mgk-popup > .inner > ul.sub-menu {
	max-width: 100%;
}
.sidebar-menu .wide .mgk-popup > .inner > ul.sub-menu > li.menu-item {
	float: left;
	padding: 0 10px;
}
.sidebar-menu .wide .mgk-popup > .inner > ul.sub-menu > li.menu-item > a, .sidebar-menu .wide .mgk-popup > .inner > ul.sub-menu > li.menu-item > h5 {
	color: #333;
	font-size: 1em;
	font-weight: 600;
	padding-bottom: 5px;
	text-transform: uppercase;
}
.sidebar-menu .wide .mgk-popup > .inner > ul.sub-menu > li.menu-item > ul.sub-menu {
	padding-bottom: 12px;
}
.sidebar-menu .wide .mgk-popup > .inner > ul.sub-menu > li.menu-item li.menu-item > a, .sidebar-menu .wide .mgk-popup > .inner > ul.sub-menu > li.menu-item li.menu-item > h5 {
	margin-left: -8px;
	padding: 3px 8px;
	font-size: 0.9em;
	line-height: 20px;
	font-weight: normal;
	border-radius: 4px;
}
.sidebar-menu .wide .mgk-popup > .inner > ul.sub-menu > li.menu-item li.menu-item > a:hover, .sidebar-menu .wide .mgk-popup > .inner > ul.sub-menu > li.menu-item li.menu-item > h5:hover {
	background: #f4f4f4;
}
.sidebar-menu .wide .mgk-popup > .inner > ul.sub-menu > li.menu-item li.menu-item > ul.sub-menu {
	padding-left: 10px;
}
.sidebar-menu .wide .mgk-popup > .inner > ul.sub-menu > .menu-block-item {
	margin-bottom: -10px;
}
.sidebar-menu .wide .mgk-popup > .inner .container {
	width: auto;
	padding: 0;
}
.sidebar-menu .narrow .mgk-popup > .inner > ul.sub-menu {
	border-radius: 0 6px 6px 6px;
}
.right-sidebar .sidebar-menu .narrow .mgk-popup > .inner > ul.sub-menu {
	border-radius: 6px 0 6px 6px;
}
.sidebar-menu .narrow .mgk-popup ul.sub-menu {
	min-width: 180px;
	padding: 5px;
	border-radius: 6px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}
.sidebar-menu .narrow .mgk-popup ul.sub-menu ul.sub-menu {
	position: absolute;
	left: 100%;
	top: -5px;
	display: none;
}
.right-sidebar .sidebar-menu .narrow .mgk-popup ul.sub-menu ul.sub-menu {
	left: auto;
	right: 100%;
}
.sidebar-menu .narrow .mgk-popup li.menu-item > a, .sidebar-menu .narrow .mgk-popup li.menu-item > h5 {
	color: #fff;
	font-weight: 400;
	padding: 7px 15px 7px 8px;
	font-size: 0.9em;
	line-height: 20px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	white-space: nowrap;
}
.sidebar-menu .narrow .mgk-popup li.menu-item:last-child > a, .sidebar-menu .narrow .mgk-popup li.menu-item:last-child > h5 {
	border-bottom-color: transparent;
}
.sidebar-menu .narrow .mgk-popup li.menu-item:hover > ul.sub-menu {
	display: block;
}
.sidebar-menu .narrow .mgk-popup li.menu-item-has-children > a, .sidebar-menu .narrow .mgk-popup li.menu-item-has-children > h5 {
	padding-right: 15px;
}
.sidebar-menu .narrow .mgk-popup li.menu-item-has-children > a:before, .sidebar-menu .narrow .mgk-popup li.menu-item-has-children > h5:before {
	content: "\f0da";
	float: right;
	margin-right: -13px;
	font-family: "FontAwesome";
	font-weight: normal;
	line-height: 22px;
	opacity: 0.65;
	filter: alpha(opacity=65);
}
.right-sidebar .sidebar-menu .narrow .mgk-popup li.menu-item-has-children > a:before, .right-sidebar .sidebar-menu .narrow .mgk-popup li.menu-item-has-children > h5:before {
	content: "\f0d9";
}
.sidebar-menu .narrow .mgk-popup li.menu-item-has-children:hover > a:before, .sidebar-menu .narrow .mgk-popup li.menu-item-has-children:hover > h5:before {
	opacity: 1;
	filter: alpha(opacity=100);
}
.sidebar-menu .tip {
	color: #fff;
	display: inline-block;
	font-size: 8px;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	border-radius: 2px;
	line-height: 1;
	padding: 2px;
	position: relative;
	margin-left: 10px;
	vertical-align: middle;
}
.sidebar-menu .tip.hot {
	background-color: #eb2771;
}
.sidebar-menu .tip.hot .tip-arrow:before {
	color: #eb2771;
}
.sidebar-menu .tip .tip-arrow:before {
	display: inline-block;
	font-family: FontAwesome;
	font-size: 5px;
	position: absolute;
	content: "\f105";
	text-align: right;
	left: -4px;
	width: 4px;
	height: 6px;
	margin: auto;
	top: 0;
	bottom: 0;
}
.sidebar-menu .menu-custom-block span {
	display: none;
}
.sidebar-menu .menu-custom-block a {
	border-top: 1px solid #ddd;
	line-height: 18px;
	margin: 0 10px -1px;
	padding: 12px 5px;
	display: block;
	text-decoration: none;
}
.sidebar-menu .menu-custom-block a:hover {
	color: #fff;
	margin-left: 0;
	margin-right: 0;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	z-index: 1;
}
.sidebar-menu .menu-custom-block a:last-child:hover {
	border-radius: 0 0 7px 7px;
}
.sidebar-menu.has-main-menu > li.menu-item:first-child > a, .sidebar-menu.has-main-menu > li.menu-item:first-child > h5 {
	border-top-width: 1px;
}
.sidebar-menu.has-side-menu > li.menu-item:last-child:hover {
	border-radius: 0;
}
.sidebar-menu.has-side-menu .menu-custom-block a:last-child:hover {
	border-radius: 0;
}
.sidebar-menu.subeffect-down .mgk-popup {
	top: -2000px;
}
.sidebar-menu.subeffect-down .mgk-popup li.menu-item > a, .sidebar-menu.subeffect-down .mgk-popup li.menu-item > h5 {
	margin-top: -10px;
}
.sidebar-menu.subeffect-down > li.menu-item:hover .mgk-popup {
	top: 0;
}
.sidebar-menu.subeffect-down > li.menu-item:hover li.menu-item > a, .sidebar-menu.subeffect-down > li.menu-item:hover li.menu-item > h5 {
	margin-top: 0;
	-webkit-transition: margin-top 0.2s ease;
	-moz-transition: margin-top 0.2s ease;
	transition: margin-top 0.2s ease;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}
.sidebar-menu.subeffect-down .narrow .mgk-popup ul.sub-menu ul.sub-menu {
	display: block !important;
	top: -2000px;
}
.sidebar-menu.subeffect-down .narrow .mgk-popup ul.sub-menu ul.sub-menu li.menu-item > a, .sidebar-menu.subeffect-down .narrow .mgk-popup ul.sub-menu ul.sub-menu li.menu-item > h5 {
	margin-top: -10px;
}
.sidebar-menu.subeffect-down .narrow .mgk-popup ul.sub-menu li.menu-item:hover > ul.sub-menu {
	top: -5px;
}
#header .header-top .container {
	position: relative;
	display: table;
}
#header .header-top .container > div {
	position: relative;
	vertical-align: middle;
}
#header .header-top {
	position: relative;
	z-index: 1000;
}
#header .mobile-show {
	display: none;
}
#header.sticky-header .mgk-main-menu {
	position: fixed;
	border-bottom-width: 0 !important;
	left: 0;
	right: 0;
	width: 100%;
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
	top: 0;
	z-index: 1000;
	padding: 7px 0;
}
#header .top-links {
	white-space: nowrap;
}
#header .top-links > li.menu-item {
	display: inline-block;
	margin-left: -2px;
	float: none;
}
#header .top-links > li.menu-item.active > a, #header .top-links > li.menu-item:hover > a, #header .top-links > li.menu-item.has-sub:hover > a, #header .top-links > li.menu-item.active > h5, #header .top-links > li.menu-item:hover > h5, #header .top-links > li.menu-item.has-sub:hover > h5 {
	background: transparent;
}
#header .header-top .top-links {
	margin: 0px 0 0px;
}
#main-menu .menu-custom-block {
	padding: 10px 0 9px;
	line-height: 21px;
	font-weight: 600;
	font-size: 0.8571em;
	margin-left: -10px;
}
#main-menu .menu-custom-block a, #main-menu .menu-custom-block span {
	display: inline-block;
	padding: 0 15px;
	position: relative;
}
#main-menu .menu-custom-block a {
	text-transform: uppercase;
}
#main-menu .menu-custom-block .tip {
	color: #fff;
	display: inline-block;
	font-size: 9px;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	border-radius: 2px;
	line-height: 1;
	padding: 2px;
	position: absolute;
	top: -14px;
	right: 10px;
	margin-left: 10px;
}
#main-menu .menu-custom-block .tip.hot {
	background-color: #eb2771;
}
#main-menu .menu-custom-block .tip.hot .tip-arrow:before {
	color: #eb2771;
}
#main-menu .menu-custom-block .tip .tip-arrow:before {
	display: inline-block;
	font-family: FontAwesome;
	font-size: 5px;
	font-style: normal;
	position: absolute;
	width: auto;
	height: auto;
	margin: auto;
	top: auto;
	bottom: -3px;
	content: "\f125";
	left: 2px;
	text-align: right;
}
#main-menu .menu-custom-block .fa {
	text-align: center;
}
#main-menu .menu-custom-block .fa, #main-menu .menu-custom-block .avatar {
	margin-right: 5px;
}
#main-menu .menu-custom-block .avatar img {
	margin-top: -5px;
	margin-bottom: -4px;
}
#main-toggle-menu {
	position: relative;
}
#main-toggle-menu .menu-title {
	color: #fff;
	cursor: pointer;
	background: #303030;
	font-size: 0.8571em;
	font-weight: 700;
	line-height: 20px;
	padding: 10px 15px;
	margin: 0;
	text-transform: uppercase;
	position: relative;
	-webkit-transition: all 0.25s ease 0s;
	-moz-transition: all 0.25s ease 0s;
	transition: all 0.25s ease 0s;
}
#main-toggle-menu .menu-title:hover {
	background-color: #555;
}
#main-toggle-menu .menu-title .toggle {
	display: inline-block;
	font-family: "FontAwesome";
	margin: 0 5px 0 0;
}
#main-toggle-menu .menu-title .toggle:before {
	content: "\f0c9";
}
#main-toggle-menu .toggle-menu-wrap {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	background: #fff;
	box-shadow: 0 0 20px rgba(0, 0, 0, .4);
	z-index: 1000;
}
#main-toggle-menu .toggle-menu-wrap > ul {
	border-bottom: 5px solid #303030;
}
#main-toggle-menu.closed .toggle-menu-wrap {
	display: none;
}
#main-toggle-menu.show-always .menu-title {
	background: #303030;
	cursor: default;
}
#main-toggle-menu.show-always .toggle-menu-wrap {
	height: auto !important;
	display: block !important;
}
#main-toggle-menu .sidebar-menu > li.menu-item:last-child:hover {
	border-radius: 0;
}
.right-sidebar #main-toggle-menu .sidebar-menu > li.menu-item:last-child:hover {
	border-radius: 0;
}
#header .mobile-toggle {
	cursor: pointer;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	display: none;
}
.header-extra-info {
	list-style: none;
	margin: 0;
*zoom: 1;
}
.header-extra-info:before, .header-extra-info:after {
	content: " ";
	display: table;
}
.header-extra-info:after {
	clear: both;
}
.header-extra-info li {
	text-align: left;
	float: left;
	margin-left: 25px;
}
.header-side-nav .sidebar-menu {
	margin-bottom: 20px;
}
.header-side-nav .sidebar-menu > li.menu-item > a, .header-side-nav .sidebar-menu > li.menu-item > h5 {
	margin-left: 0;
	margin-right: 0;
	border-color: rgba(128, 128, 128, 0.18) !important;
}
.header-side-nav .sidebar-menu > li.menu-item > .arrow {
	right: -5px;
}
.header-side-nav .sidebar-menu > li.menu-item:last-child:hover {
	border-radius: 0;
}
.header-side-nav .sidebar-menu .menu-custom-block a {
	margin-left: 0;
	margin-right: 0;
	padding-left: 5px;
	padding-right: 5px;
}
.header-side-nav .sidebar-menu .menu-custom-block a:last-child:hover {
	border-radius: 0;
}
.header-side-nav .sidebar-menu .menu-custom-block .fa {
	width: 18px;
	text-align: center;
}
.header-side-nav .sidebar-menu .menu-custom-block .fa, .header-side-nav .sidebar-menu .menu-custom-block .avatar {
	margin-right: 5px;
}
.header-side-nav .sidebar-menu .menu-custom-block > .avatar img {
	margin-top: -5px;
	margin-bottom: -4px;
}
#nav-panel {
	position: fixed;
	height: 100%;
	width: 260px;
	top: 0;
	botom: 0;
	font-size: 0.9em;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 100000;
	-webkit-transform: translate(-260px);
	-moz-transform: translate(-260px);
	-ms-transform: translate(-260px);
	-o-transform: translate(-260px);
	transform: translate(-260px);
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}
.menu-overlay {
	opacity: 0;
	filter: alpha(opacity=0);
}
.menu-overlay.active {
	background: #000;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 99999;
	min-height: 100vh;
	opacity: 0.35;
	filter: alpha(opacity=35);
	-webkit-transition: opacity 0.2s ease-in-out 0s;
	-moz-transition: opacity 0.2s ease-in-out 0s;
	transition: opacity 0.2s ease-in-out 0s;
}
html.menu-opened {
	overflow: hidden;
	margin-top: 0 !important;
	height: 100%;
}
html.menu-opened body {
	height: 100%;
}
html.menu-opened body > * {
	z-index: 0;
}
html.menu-opened body > #nav-panel {
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	z-index: 100000;
	-webkit-transform: translate(0px);
	-moz-transform: translate(0px);
	-ms-transform: translate(0px);
	-o-transform: translate(0px);
	transform: translate(0px);
}
#nav-panel .welcome-msg {
	text-align: center;
	display: block;
	margin: 15px 0;
	padding: 0 10px;
}
#nav-panel .welcome-msg p {
	margin: 5px 0;
}
#nav-panel .welcome-msg .pull-left, #nav-panel .welcome-msg .pull-right {
	float: none !important;
}
#nav-panel .accordion-menu {
	font-size: 0.8571em;
}
#nav-panel .accordion-menu .arrow {
	right: 5px;
	font-size: 14px;
}
#nav-panel .mobile-menu {
	font-size: 1em;
}
#nav-panel .switcher-wrap {
	margin: 20px 0;
	padding: 0 10px;
}
#nav-panel .menu-wrap {
	margin: 20px 0;
	padding: 0 10px;
}
#nav-panel .menu-custom-block {
	margin: 20px 0;
	padding: 0 10px;
}
#nav-panel .menu-custom-block a, #nav-panel .menu-custom-block span {
	display: block;
}
#nav-panel .menu-custom-block a {
	padding: 5px 6px;
	text-decoration: none;
}
#nav-panel .menu-custom-block .tip {
	color: #fff;
	display: inline-block;
	font-size: 9px;
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 2px;
	line-height: 1;
	padding: 2px;
	position: relative;
	margin-left: 10px;
	vertical-align: middle;
}
#nav-panel .menu-custom-block .tip.hot {
	background-color: #eb2771;
}
#nav-panel .menu-custom-block .tip.hot .tip-arrow:before {
	color: #eb2771;
}
#nav-panel .menu-custom-block .tip .tip-arrow:before {
	display: inline-block;
	font-family: FontAwesome;
	font-size: 5px;
	font-style: normal;
	position: absolute;
	width: 4px;
	height: 6px;
	margin: auto;
	content: "\f105";
	left: -4px;
	text-align: right;
	top: 0;
	bottom: 0;
}
#nav-panel .share-links {
	font-size: 1em;
	margin: 15px 0;
	padding: 0 5px;
	text-align: center;
}
#header-boxed #header.sticky-header .mgk-main-menu {
	margin-left: auto;
	margin-right: auto;
}
#header ul.top-links1 ul {
	padding: 0 0 0 5px;
}
#header ul.top-links1 {
	padding: 0px;
	padding-left: 0px;
	padding-top: 6px;
}
#header ul.top-links1 li {
	font-size: 11px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom: 1px solid #333;
	letter-spacing: 0.5px;
	list-style: none;
}
#header ul.top-links1 li:last-child {
	border-bottom: none;
	padding-bottom: 0px;
}
#header ul.top-links1 li a {
	color: #999;
}
#header ul.top-links1 li a:hover {
	color: #1fc0a0;
}
#header ul.top-links1 li a:before {
	font-family: FontAwesome;
	font-size: 5px;
	content: '\f10c';
	color: #C2C2C2;
	vertical-align: middle;
	margin-right: 8px;
}
ul.top-links1.mega-menu1 {
	padding: inherit;
	margin: auto;
}
.mega-menu .wide .mgk-popup > .inner > ul.sub-menu > li.menu-item.women-img {
	background-position: left center !important;
	float: right;
	margin-top: 0px;
	position: inherit;
	width: 200px !important; 
	height:290px !important; 
	margin-bottom:10px;
	padding:0px;
}
.mega-menu .wide .mgk-popup > .inner > ul.sub-menu > li.menu-item.men-img {
	margin-top: 0px;
	margin-bottom: 25px;
	width: 200px !important;
	height: 150px !important;
	float: right;
}
.mega-menu .wide .mgk-popup > .inner > ul.sub-menu > li.menu-item.men-img2 {
	margin-bottom: 0px;
	width: 200px !important;
	height: 150px !important;
	float: right;
}
/*.mgk-popup li.menu-item.menu-item-has-children {
	margin-bottom: 8px !important;
}*/
input.mgksearch {
	border: none;
}
ul.top-links1.mega-menu1 li {
	list-style: none;
	display: inline-block;
	margin-left: 15px; position:relative;
}
ul.top-links1.mega-menu1 li ul li{ margin-left:0px;}
ul.top-links1.mega-menu1 li a {
	color: #222;
	font-size: 12px;
}
ul.top-links1.mega-menu1 li a:hover{ color:#1fc0a0;}
.mgk-popup li.menu-item {
	padding: 0;
	float: none;
	position: relative;
}

.narrow .popup li.menu-item ul.nav.sub-menu{    position: absolute;
    top: -10px;
    left: 160px;
    padding: 15px;
    width: 220px; opacity:0;
	    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .15);}
	
.narrow .popup li.menu-item:hover ul.nav.sub-menu{ opacity:1;}
.narrow .popup li.menu-item.menu-item-has-children a span{ font-weight:normal; text-transform:capitalize;}

.mgk-popup li.menu-item.sub span {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 4px;
	letter-spacing: 1px;
}
.mgk-popup li.menu-item.sub .sub-menu span {
    font-size: 13px;
    color: #404040;
    padding: 7px 0;
    letter-spacing: 0.5px; font-weight:normal; text-transform:capitalize;
}
.mgk-popup li.menu-item.sub .sub-menu a:hover span {color: #1fc0a0 !important;}
 @media (max-width: 480px) {
#main-menu {
	display: inline !important;
}
#header .mobile-toggle {
	left: 10px;
	position: absolute;
	top: 0px;
	font-size: 21px;
	z-index: 100;
}
.mobile-search {
	margin-left: 12px;
	margin-top: 10px;
	background: #fff;
	padding-left: 0px;
	margin-right: 24px;
	position: relative;
}
.mobile-search .mgksearch {
	font-size: 14px;
	padding-left: 8px;
}
.mobile-search .search-icon {
	margin-top: 10px;
	position: absolute;
	right: 5px;
}
#nav-panel .menu-wrap {
	margin: 15px 0;
}
#nav-panel .accordion-menu li.menu-item > a, #nav-panel .accordion-menu li.menu-item > h5 {
	color: #ffffff;
	font-size: 13px;
}
#nav-panel .top-links1.accordion-menu li.menu-item > a{ font-size:13px; font-weight:normal; text-transform:capitalize;}

.accordion-menu ul.sub-menu li a {
	text-transform: none;
	font-weight: normal;
}
.mobile-search .btn.btn-default {
	background: none repeat scroll 0 0 #000;
	color: #fff;
	float: right;
	padding: 7px 12px;
}
.top-links1 li {
	border-bottom: 1px solid #444 !important;
}
}
@media (max-width: 767px) {
#header .mobile-toggle {
	font-size: 24px;
	line-height: 38px;
	color: #333;
	margin-top: 5px;
}
#header .top-links {
	display: none;
}
.mgk-main-menu {
	display: none;
}
#main-menu .mega-menu {
	display: none;
}
#header .header-top {
	display: none;
}
#header .mobile-toggle {
	display: inline-block;
}
#header .mobile-toggle {
	left: 0px;
	position: absolute;
	top: 0px;
	font-size: 21px;
	z-index: 100;
}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
.mega-menu .wide .mgk-popup > .inner > ul.sub-menu > li.menu-item.women-img, 
.mega-menu .wide .mgk-popup > .inner > ul.sub-menu > li.menu-item.women-img1,
.mega-menu .wide .mgk-popup > .inner > ul.sub-menu > li.menu-item.men-img,
.mega-menu .wide .mgk-popup > .inner > ul.sub-menu > li.menu-item.men-img2 {
	display: none;
}
.wide .mgk-popup > .inner > ul.sub-menu > li.menu-item {
	width: 48% !important;
}
.has-sub.wide .popup {
    width: 565px !important;
}
.wrap-popup {

	left: 98% !important;
}
}
@media only screen and (min-width: 992px) and (max-width: 1023px) {
#header ul.top-links1 li {
	margin-left: 10px;
}
#main-sidebar-menu {
	display: none;
}
.widget_sidebar_menu {
	overflow: hidden;
}
.sidebar-menu > li.menu-item > .arrow, .right-sidebar .sidebar-menu > li.menu-item > .arrow {
	margin: 0;
	top: 7px;
}
.sidebar-menu .mgk-popup {
	position: static;
	margin-bottom: -1px;
}
.sidebar-menu .wide .mgk-popup, .right-sidebar .sidebar-menu .wide .mgk-popup {
	border-radius: 0;
	box-shadow: none;
	border: none;
	margin: 0;
}
.sidebar-menu .wide .mgk-popup .inner, .right-sidebar .sidebar-menu .wide .mgk-popup .inner {
	border-radius: 0;
	margin: 0;
}
.sidebar-menu .narrow .mgk-popup ul.sub-menu {
	box-shadow: none;
	border-radius: 0;
}
.sidebar-menu .narrow .mgk-popup ul.sub-menu ul.sub-menu {
	position: static;
	padding: 0 0 0 5px;
}
.sidebar-menu .narrow .mgk-popup li.menu-item-has-children > a:before, .sidebar-menu .narrow .mgk-popup li.menu-item-has-children > h5:before {
	content: "\f0d7";
}
.sidebar-menu .narrow .mgk-popup li.menu-item-has-children > a:before, .sidebar-menu .narrow .mgk-popup li.menu-item-has-children > h5:before, .right-sidebar .sidebar-menu .narrow .mgk-popup li.menu-item-has-children > a:before, .right-sidebar .sidebar-menu .narrow .mgk-popup li.menu-item-has-children > h5:before {
	margin-right: -7px;
}
#header .mobile-hide {
	display: none;
}
#header .mobile-show {
	display: inline;
}
.header-wrapper.header-side-nav #header .side-top {
	padding: 10px 0 0;
}
.header-wrapper.header-side-nav #header .side-top .mini-cart {
	float: right;
}
.header-wrapper.header-side-nav #header .logo {
	margin-bottom: 5px;
}
.header-wrapper.header-side-nav #header .sidebar-menu {
	display: none;
}
.header-wrapper.header-side-nav #header .share-links {
	margin: 0 0 0 10px;
}
.header-wrapper.header-side-nav #header .share-links a:last-child {
	margin-right: 0;
}
.header-wrapper.header-side-nav #header .header-copyright {
	display: none;
}
#main-toggle-menu {
	overflow: hidden;
}
.mega-menu .wide .mgk-popup > .inner > ul.sub-menu > li.menu-item.women-img, 
.mega-menu .wide .mgk-popup > .inner > ul.sub-menu > li.menu-item.women-img1,
.mega-menu .wide .mgk-popup > .inner > ul.sub-menu > li.menu-item.men-img,
.mega-menu .wide .mgk-popup > .inner > ul.sub-menu > li.menu-item.men-img2 {
	display: none;
}
.wide .mgk-popup > .inner > ul.sub-menu > li.menu-item {
	width: 40% !important;
}
.has-sub.wide .popup {
    width: 528px;
}
.wrap-popup {
    width: 528px; left:100% !important;
}
}
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
.widget_sidebar_menu .widget-title {
	font-size: 0.8571em;
	line-height: 16px;
	padding: 10px 15px;
}
.sidebar-menu > li.menu-item > a, .sidebar-menu > li.menu-item > h5 {
	font-size: 0.9286em;
	line-height: 16px;
	padding: 9px 5px;
}
.sidebar-menu .menu-custom-block a {
	font-size: 0.9286em;
	line-height: 16px;
	padding: 9px 5px;
}
#header .top-links .narrow .mgk-popup li.menu-item > a {
	color: #999;
}
.mega-menu .wide .mgk-popup > .inner > ul.sub-menu > li.menu-item.women-img, 
.mega-menu .wide .mgk-popup > .inner > ul.sub-menu > li.menu-item.women-img1,
.mega-menu .wide .mgk-popup > .inner > ul.sub-menu > li.menu-item.men-img,
.mega-menu .wide .mgk-popup > .inner > ul.sub-menu > li.menu-item.men-img2 {
	display: none;
}
.wide .mgk-popup > .inner > ul.sub-menu > li.menu-item {
	width: 40% !important;
}
.has-sub.wide .popup {
    width: 528px;
}
.wrap-popup {
    width: 528px; left:100% !important;
}
}
@media (min-width: 992px) {
#header-boxed #header.sticky-header .mgk-main-menu {
	max-width: 980px;
}
}
